<div class="clearfix">

    <div class="col-md-4 col-xs-4">
        <div class="notif-info-big">
            <span class="glyphicon glyphicon-cutlery"></span> <span class="big-notif-num">34</span>
        </div>
    </div>
    <div class="col-md-4 col-xs-4">
        <div class="notif-info-big">
            <span class="glyphicon glyphicon-phone"></span> <span class="big-notif-num">34</span>
        </div>
    </div>
    <div class="col-md-4 col-xs-4">
        <div class="notif-info-big">
            <span class="glyphicon glyphicon-check"></span> <span class="big-notif-num">34</span>
        </div>
    </div>
</div>

<div class="clearfix">
    <div id="home-aside" class="col-md-12 col-sm-12 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-cutlery"></span> <span class="list-heading"> - Onsite Orders</span>
                <div class="pull-right">
                    <div class="btn-group">
                        <button type="button" class="inner-btn" data-toggle="dropdown" aria-expanded="false">
                            Sort
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu pull-right" role="menu">
                            <li><a href="#">Action</a>
                            </li>
                            <li><a href="#">Another action</a>
                            </li>
                            <li><a href="#">Something else here</a>
                            </li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="list-group">
                    <a href="#" class="list-group-item">
                        <span class="glyphicon glyphicon-cutlery"></span> Order#12
                        <span class="pull-right text-muted small"><em>4 minutes ago</em>
                        </span>
                    </a>
                    <a href="#" class="list-group-item">
                        <span class="glyphicon glyphicon-cutlery"></span> Order#12
                        <span class="pull-right text-muted small"><em>12 minutes ago</em>
                        </span>
                    </a>
                    <a href="#" class="list-group-item">
                        <span class="glyphicon glyphicon-cutlery"></span> Order#12
                        <span class="pull-right text-muted small"><em>27 minutes ago</em>
                        </span>
                    </a>
                    <a href="#" class="list-group-item">
                        <span class="glyphicon glyphicon-cutlery"></span> Order#12
                        <span class="pull-right text-muted small"><em>43 minutes ago</em>
                        </span>
                    </a>
                    <a href="#" class="list-group-item">
                        <span class="glyphicon glyphicon-cutlery"></span> Order#12
                        <span class="pull-right text-muted small"><em>11:32 AM</em>
                        </span>
                    </a>

                </div>
                <!-- /.list-group -->
                <ul class="pagination">
                    <li>1</li>
                    <li>2</li>
                    <li>3</li>
                </ul>
            </div>
            <!-- /.panel-body -->
        </div>
    </div>
</div>

<div class="clearfix">
    <div id="home-aside" class="col-md-12 col-sm-12 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-phone"></span> <span class="list-heading"> - Online Orders</span>
                <div class="pull-right">
                    <div class="btn-group">
                        <button type="button" class="inner-btn" data-toggle="dropdown" aria-expanded="false">
                            Sort
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu pull-right" role="menu">
                            <li><a href="#">Action</a>
                            </li>
                            <li><a href="#">Another action</a>
                            </li>
                            <li><a href="#">Something else here</a>
                            </li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="list-group">
                    <a href="#" class="list-group-item">
                        <span class="glyphicon glyphicon-cutlery"></span> Order#12
                        <span class="pull-right text-muted small"><em>4 minutes ago</em>
                        </span>
                    </a>
                    <a href="#" class="list-group-item">
                        <span class="glyphicon glyphicon-cutlery"></span> Order#12
                        <span class="pull-right text-muted small"><em>12 minutes ago</em>
                        </span>
                    </a>
                    <a href="#" class="list-group-item">
                        <span class="glyphicon glyphicon-cutlery"></span> Order#12
                        <span class="pull-right text-muted small"><em>27 minutes ago</em>
                        </span>
                    </a>
                    <a href="#" class="list-group-item">
                        <span class="glyphicon glyphicon-cutlery"></span> Order#12
                        <span class="pull-right text-muted small"><em>43 minutes ago</em>
                        </span>
                    </a>
                    <a href="#" class="list-group-item">
                        <span class="glyphicon glyphicon-cutlery"></span> Order#12
                        <span class="pull-right text-muted small"><em>11:32 AM</em>
                        </span>
                    </a>

                </div>
                <!-- /.list-group -->
                <a href="#" class="inner-btn">More</a>
            </div>
            <!-- /.panel-body -->
        </div>
    </div>
</div>

<div class="clearfix">
    <div id="home-aside" class="col-md-12 col-sm-12 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-check"></span> <span class="list-heading"> - Delivered Orders</span>
                <div class="pull-right">
                    <div class="btn-group">
                        <button type="button" class="inner-btn" data-toggle="dropdown" aria-expanded="false">
                            Sort
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu pull-right" role="menu">
                            <li><a href="#">Action</a>
                            </li>
                            <li><a href="#">Another action</a>
                            </li>
                            <li><a href="#">Something else here</a>
                            </li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="list-group">
                    <a href="#" class="list-group-item">
                        <span class="glyphicon glyphicon-cutlery"></span> Order#12
                        <span class="pull-right text-muted small"><em>4 minutes ago</em>
                        </span>
                    </a>
                    <a href="#" class="list-group-item">
                        <span class="glyphicon glyphicon-cutlery"></span> Order#12
                        <span class="pull-right text-muted small"><em>12 minutes ago</em>
                        </span>
                    </a>
                    <a href="#" class="list-group-item">
                        <span class="glyphicon glyphicon-cutlery"></span> Order#12
                        <span class="pull-right text-muted small"><em>27 minutes ago</em>
                        </span>
                    </a>
                    <a href="#" class="list-group-item">
                        <span class="glyphicon glyphicon-cutlery"></span> Order#12
                        <span class="pull-right text-muted small"><em>43 minutes ago</em>
                        </span>
                    </a>
                    <a href="#" class="list-group-item">
                        <span class="glyphicon glyphicon-cutlery"></span> Order#12
                        <span class="pull-right text-muted small"><em>11:32 AM</em>
                        </span>
                    </a>

                </div>
                <!-- /.list-group -->
                <a href="#" class="inner-btn">More</a>
            </div>
            <!-- /.panel-body -->
        </div>
    </div>
</div>