<div class="clearfix">
    <div class="col-md-6 col-xs-12">
        <!--<button id="addTables" onclick="addNewTable()">Add Tables</button>-->

        <!--<div id="tables-wrapper">-->
            <!--<ul id="tables">-->
                <!--<li class="table-holder ui-state-default">-->
                    <!--<span class="number">01</span>-->
                    <!--<a href="#"><img src="images/free.svg"></a>-->
                    <!--&lt;!&ndash;TABLE POPUP======================================================================================&ndash;&gt;-->
                    <!--<div class="popup-wrap">-->
                        <!--<ul>-->
                            <!--<li><h2>Table #</h2> <span class="table-pop-close glyphicon glyphicon-remove-circle text-right"></span></li>-->
                            <!--<li>Status-->
                                <!--<span id="state" class="gray">FREE</span><span id="state-time">8.00am</span> </br></br>-->
                                <!--Change to..-->
                                <!--<button class="change-state-btn green">AVAILABLE</button>-->
                            <!--</li>-->
                            <!--<li>-->
                                <!--Current Order </br>-->
                                <!--<div class="panel-body">-->
                                    <!--<div class="list-group">-->
                                        <!--<a href="#" class="list-group-item">-->
                                            <!--Order#12<span class="pull-right text-muted small"><em>4 minutes ago</em></span>-->
                                        <!--</a>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</li>-->
                            <!--<li>-->
                                <!--Waiter </br></br>-->

                                <!--<div class="btn-group">-->
                                    <!--<button type="button" class="imp-btn" data-toggle="dropdown" aria-expanded="false">-->
                                        <!--Assign Waiter-->
                                        <!--<span class="caret"></span>-->
                                    <!--</button>-->
                                    <!--<ul class="dropdown-menu pop-dropdown" role="menu">-->
                                        <!--<li>-->
                                            <!--<a href="#">-->
                                                <!--<div id="waiter-wrap-dropdown">-->
                                                    <!--<img class="img-circle" id="waiter-pic" src="images/profpic.png" alt=""> <span>Fname</span>-->
                                                <!--</div>-->
                                            <!--</a>-->
                                        <!--</li>-->
                                        <!--<li>-->
                                            <!--<a href="#">-->
                                                <!--<div id="waiter-wrap-dropdown">-->
                                                    <!--<img class="img-circle" id="waiter-pic" src="images/profpic.png" alt=""> <span>Fname</span>-->
                                                <!--</div>-->
                                            <!--</a>-->
                                        <!--</li>-->
                                        <!--<li>-->
                                            <!--<a href="#">-->
                                                <!--<div id="waiter-wrap-dropdown">-->
                                                    <!--<img class="img-circle" id="waiter-pic" src="images/profpic.png" alt=""> <span>Fname</span>-->
                                                <!--</div>-->
                                            <!--</a>-->
                                        <!--</li>-->
                                        <!--<li>-->
                                            <!--<a href="#">-->
                                                <!--<div id="waiter-wrap-dropdown">-->
                                                    <!--<img class="img-circle" id="waiter-pic" src="images/profpic.png" alt=""> <span>Fname</span>-->
                                                <!--</div>-->
                                            <!--</a>-->
                                        <!--</li>-->
                                        <!--<li>-->
                                            <!--<a href="#">-->
                                                <!--<div id="waiter-wrap-dropdown">-->
                                                    <!--<img class="img-circle" id="waiter-pic" src="images/profpic.png" alt=""> <span>Fname</span>-->
                                                <!--</div>-->
                                            <!--</a>-->
                                        <!--</li>-->

                                    <!--</ul>-->
                                <!--</div>-->
                            <!--</li>-->
                            <!--<li class="no-border">-->
                                <!--Orders so far..-->
                                <!--<div class="panel-body">-->
                                    <!--<div class="list-group">-->
                                        <!--<a href="#" class="list-group-item">-->
                                            <!--Order#12<span class="pull-right text-muted small"><em>4 minutes ago</em></span>-->
                                        <!--</a>-->
                                        <!--<a href="#" class="list-group-item">-->
                                            <!--Order#12<span class="pull-right text-muted small"><em>4 minutes ago</em></span>-->
                                        <!--</a>-->
                                        <!--<a href="#" class="list-group-item">-->
                                            <!--Order#12<span class="pull-right text-muted small"><em>4 minutes ago</em></span>-->
                                        <!--</a>-->
                                        <!--<a href="#" class="list-group-item">-->
                                            <!--Order#12<span class="pull-right text-muted small"><em>4 minutes ago</em></span>-->
                                        <!--</a>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</li>-->
                        <!--</ul>-->
                    <!--</div>-->
                    <!--&lt;!&ndash;TABLE POPUP END==================================================================================&ndash;&gt;-->
                <!--</li><li class="table-empty ui-state-default"></li>-->

                <!--<li class="table-holder ui-state-default">-->
                    <!--<span class="number">01</span>-->
                    <!--<a href="#"><img src="images/available.svg"></a>-->
                    <!--&lt;!&ndash;TABLE POPUP======================================================================================&ndash;&gt;-->
                    <!--<div class="popup-wrap">-->
                        <!--<ul>-->
                            <!--<li><h2>Table #</h2> <span class="table-pop-close glyphicon glyphicon-remove-circle text-right"></span></li>-->
                            <!--<li>Status-->
                                <!--<span id="state" class="gray">AVAILABLE</span><span id="state-time">8.00am</span> </br></br>-->
                                <!--Change to..-->
                                <!--<button class="change-state-btn red">AVTIVATED</button>-->
                            <!--</li>-->
                            <!--<li>-->
                                <!--Current Order </br>-->
                                <!--<div class="panel-body">-->
                                    <!--<div class="list-group">-->
                                        <!--<a href="#" class="list-group-item">-->
                                            <!--Order#12<span class="pull-right text-muted small"><em>4 minutes ago</em></span>-->
                                        <!--</a>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</li>-->
                            <!--<li>-->
                                <!--Waiter </br></br>-->
                                <!--<div id="waiter-wrap">-->
                                    <!--<img class="img-circle" id="waiter-pic" src="images/profpic.png" alt=""> <span id="wiater-fname">Fname</span>-->
                                <!--</div> </br>-->

                                <!--<div class="btn-group">-->
                                    <!--<button type="button" class="imp-btn" data-toggle="dropdown" aria-expanded="false">-->
                                        <!--Assign Waiter-->
                                        <!--<span class="caret"></span>-->
                                    <!--</button>-->
                                    <!--<ul class="dropdown-menu pop-dropdown" role="menu">-->
                                        <!--<li>-->
                                            <!--<a href="#">-->
                                                <!--<div id="waiter-wrap-dropdown">-->
                                                    <!--<img class="img-circle" id="waiter-pic" src="images/profpic.png" alt=""> <span>Fname</span>-->
                                                <!--</div>-->
                                            <!--</a>-->
                                        <!--</li>-->
                                        <!--<li>-->
                                            <!--<a href="#">-->
                                                <!--<div id="waiter-wrap-dropdown">-->
                                                    <!--<img class="img-circle" id="waiter-pic" src="images/profpic.png" alt=""> <span>Fname</span>-->
                                                <!--</div>-->
                                            <!--</a>-->
                                        <!--</li>-->
                                        <!--<li>-->
                                            <!--<a href="#">-->
                                                <!--<div id="waiter-wrap-dropdown">-->
                                                    <!--<img class="img-circle" id="waiter-pic" src="images/profpic.png" alt=""> <span>Fname</span>-->
                                                <!--</div>-->
                                            <!--</a>-->
                                        <!--</li>-->
                                        <!--<li>-->
                                            <!--<a href="#">-->
                                                <!--<div id="waiter-wrap-dropdown">-->
                                                    <!--<img class="img-circle" id="waiter-pic" src="images/profpic.png" alt=""> <span>Fname</span>-->
                                                <!--</div>-->
                                            <!--</a>-->
                                        <!--</li>-->
                                        <!--<li>-->
                                            <!--<a href="#">-->
                                                <!--<div id="waiter-wrap-dropdown">-->
                                                    <!--<img class="img-circle" id="waiter-pic" src="images/profpic.png" alt=""> <span>Fname</span>-->
                                                <!--</div>-->
                                            <!--</a>-->
                                        <!--</li>-->

                                    <!--</ul>-->
                                <!--</div>-->
                            <!--</li>-->
                            <!--<li class="no-border">-->
                                <!--Orders so far..-->
                                <!--<div class="panel-body">-->
                                    <!--<div class="list-group">-->
                                        <!--<a href="#" class="list-group-item">-->
                                            <!--Order#12<span class="pull-right text-muted small"><em>4 minutes ago</em></span>-->
                                        <!--</a>-->
                                        <!--<a href="#" class="list-group-item">-->
                                            <!--Order#12<span class="pull-right text-muted small"><em>4 minutes ago</em></span>-->
                                        <!--</a>-->
                                        <!--<a href="#" class="list-group-item">-->
                                            <!--Order#12<span class="pull-right text-muted small"><em>4 minutes ago</em></span>-->
                                        <!--</a>-->
                                        <!--<a href="#" class="list-group-item">-->
                                            <!--Order#12<span class="pull-right text-muted small"><em>4 minutes ago</em></span>-->
                                        <!--</a>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</li>-->
                        <!--</ul>-->
                    <!--</div>-->
                    <!--&lt;!&ndash;TABLE POPUP END==================================================================================&ndash;&gt;-->
                <!--</li><li class="table-empty ui-state-default"></li>-->

                <!--<li class="table-holder ui-state-default">-->
                    <!--<span class="number">01</span>-->
                    <!--<a href="#"><img src="images/free.svg"></a>-->
                    <!--&lt;!&ndash;TABLE POPUP======================================================================================&ndash;&gt;-->
                    <!--<div class="popup-wrap">-->
                        <!--<ul>-->
                            <!--<li><h2>Table #</h2> <span class="table-pop-close glyphicon glyphicon-remove-circle text-right"></span></li>-->
                            <!--<li>Status-->
                                <!--<span id="state" class="gray">FREE</span><span id="state-time">8.00am</span> </br></br>-->
                                <!--Change to..-->
                                <!--<button class="change-state-btn green">AVAILABLE</button>-->
                            <!--</li>-->
                            <!--<li>-->
                                <!--Current Order </br>-->
                                <!--<div class="panel-body">-->
                                    <!--<div class="list-group">-->
                                        <!--<a href="#" class="list-group-item">-->
                                            <!--Order#12<span class="pull-right text-muted small"><em>4 minutes ago</em></span>-->
                                        <!--</a>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</li>-->
                            <!--<li>-->
                                <!--Waiter </br></br>-->
                                <!--<div id="waiter-wrap">-->
                                    <!--<img class="img-circle" id="waiter-pic" src="images/profpic.png" alt=""> <span id="wiater-fname">Fname</span>-->
                                <!--</div> </br>-->

                                <!--<div class="btn-group">-->
                                    <!--<button type="button" class="imp-btn" data-toggle="dropdown" aria-expanded="false">-->
                                        <!--Assign Waiter-->
                                        <!--<span class="caret"></span>-->
                                    <!--</button>-->
                                    <!--<ul class="dropdown-menu pop-dropdown" role="menu">-->
                                        <!--<li>-->
                                            <!--<a href="#">-->
                                                <!--<div id="waiter-wrap-dropdown">-->
                                                    <!--<img class="img-circle" id="waiter-pic" src="images/profpic.png" alt=""> <span>Fname</span>-->
                                                <!--</div>-->
                                            <!--</a>-->
                                        <!--</li>-->
                                        <!--<li>-->
                                            <!--<a href="#">-->
                                                <!--<div id="waiter-wrap-dropdown">-->
                                                    <!--<img class="img-circle" id="waiter-pic" src="images/profpic.png" alt=""> <span>Fname</span>-->
                                                <!--</div>-->
                                            <!--</a>-->
                                        <!--</li>-->
                                        <!--<li>-->
                                            <!--<a href="#">-->
                                                <!--<div id="waiter-wrap-dropdown">-->
                                                    <!--<img class="img-circle" id="waiter-pic" src="images/profpic.png" alt=""> <span>Fname</span>-->
                                                <!--</div>-->
                                            <!--</a>-->
                                        <!--</li>-->
                                        <!--<li>-->
                                            <!--<a href="#">-->
                                                <!--<div id="waiter-wrap-dropdown">-->
                                                    <!--<img class="img-circle" id="waiter-pic" src="images/profpic.png" alt=""> <span>Fname</span>-->
                                                <!--</div>-->
                                            <!--</a>-->
                                        <!--</li>-->
                                        <!--<li>-->
                                            <!--<a href="#">-->
                                                <!--<div id="waiter-wrap-dropdown">-->
                                                    <!--<img class="img-circle" id="waiter-pic" src="images/profpic.png" alt=""> <span>Fname</span>-->
                                                <!--</div>-->
                                            <!--</a>-->
                                        <!--</li>-->

                                    <!--</ul>-->
                                <!--</div>-->
                            <!--</li>-->
                            <!--<li class="no-border">-->
                                <!--Orders so far..-->
                                <!--<div class="panel-body">-->
                                    <!--<div class="list-group">-->
                                        <!--<a href="#" class="list-group-item">-->
                                            <!--Order#12<span class="pull-right text-muted small"><em>4 minutes ago</em></span>-->
                                        <!--</a>-->
                                        <!--<a href="#" class="list-group-item">-->
                                            <!--Order#12<span class="pull-right text-muted small"><em>4 minutes ago</em></span>-->
                                        <!--</a>-->
                                        <!--<a href="#" class="list-group-item">-->
                                            <!--Order#12<span class="pull-right text-muted small"><em>4 minutes ago</em></span>-->
                                        <!--</a>-->
                                        <!--<a href="#" class="list-group-item">-->
                                            <!--Order#12<span class="pull-right text-muted small"><em>4 minutes ago</em></span>-->
                                        <!--</a>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</li>-->
                        <!--</ul>-->
                    <!--</div>-->
                    <!--&lt;!&ndash;TABLE POPUP END==================================================================================&ndash;&gt;-->
                <!--</li><li class="table-empty ui-state-default"></li>-->

                <!--<li class="table-holder ui-state-default">-->
                    <!--<span class="number">01</span>-->
                    <!--<a href="#"><img src="images/active.svg"></a>-->
                    <!--&lt;!&ndash;TABLE POPUP======================================================================================&ndash;&gt;-->
                    <!--<div class="popup-wrap">-->
                        <!--<ul>-->
                            <!--<li><h2>Table #</h2> <span class="table-pop-close glyphicon glyphicon-remove-circle text-right"></span></li>-->
                            <!--<li>Status-->
                                <!--<span id="state" class="gray">ACTIVATED</span><span id="state-time">8.00am</span> </br></br>-->
                                <!--Change to..-->
                                <!--<button class="change-state-btn blue">FREE</button>-->
                            <!--</li>-->
                            <!--<li>-->
                                <!--Current Order </br>-->
                                <!--<div class="panel-body">-->
                                    <!--<div class="list-group">-->
                                        <!--<a href="#" class="list-group-item">-->
                                            <!--Order#12<span class="pull-right text-muted small"><em>4 minutes ago</em></span>-->
                                        <!--</a>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</li>-->
                            <!--<li>-->
                                <!--Waiter </br></br>-->
                                <!--<div id="waiter-wrap">-->
                                    <!--<img class="img-circle" id="waiter-pic" src="images/profpic.png" alt=""> <span id="wiater-fname">Fname</span>-->
                                <!--</div> </br>-->

                                <!--<div class="btn-group">-->
                                    <!--<button type="button" class="imp-btn" data-toggle="dropdown" aria-expanded="false">-->
                                        <!--Assign Waiter-->
                                        <!--<span class="caret"></span>-->
                                    <!--</button>-->
                                    <!--<ul class="dropdown-menu pop-dropdown" role="menu">-->
                                        <!--<li>-->
                                            <!--<a href="#">-->
                                                <!--<div id="waiter-wrap-dropdown">-->
                                                    <!--<img class="img-circle" id="waiter-pic" src="images/profpic.png" alt=""> <span>Fname</span>-->
                                                <!--</div>-->
                                            <!--</a>-->
                                        <!--</li>-->
                                        <!--<li>-->
                                            <!--<a href="#">-->
                                                <!--<div id="waiter-wrap-dropdown">-->
                                                    <!--<img class="img-circle" id="waiter-pic" src="images/profpic.png" alt=""> <span>Fname</span>-->
                                                <!--</div>-->
                                            <!--</a>-->
                                        <!--</li>-->
                                        <!--<li>-->
                                            <!--<a href="#">-->
                                                <!--<div id="waiter-wrap-dropdown">-->
                                                    <!--<img class="img-circle" id="waiter-pic" src="images/profpic.png" alt=""> <span>Fname</span>-->
                                                <!--</div>-->
                                            <!--</a>-->
                                        <!--</li>-->
                                        <!--<li>-->
                                            <!--<a href="#">-->
                                                <!--<div id="waiter-wrap-dropdown">-->
                                                    <!--<img class="img-circle" id="waiter-pic" src="images/profpic.png" alt=""> <span>Fname</span>-->
                                                <!--</div>-->
                                            <!--</a>-->
                                        <!--</li>-->
                                        <!--<li>-->
                                            <!--<a href="#">-->
                                                <!--<div id="waiter-wrap-dropdown">-->
                                                    <!--<img class="img-circle" id="waiter-pic" src="images/profpic.png" alt=""> <span>Fname</span>-->
                                                <!--</div>-->
                                            <!--</a>-->
                                        <!--</li>-->

                                    <!--</ul>-->
                                <!--</div>-->
                            <!--</li>-->
                            <!--<li class="no-border">-->
                                <!--Orders so far..-->
                                <!--<div class="panel-body">-->
                                    <!--<div class="list-group">-->
                                        <!--<a href="#" class="list-group-item">-->
                                            <!--Order#12<span class="pull-right text-muted small"><em>4 minutes ago</em></span>-->
                                        <!--</a>-->
                                        <!--<a href="#" class="list-group-item">-->
                                            <!--Order#12<span class="pull-right text-muted small"><em>4 minutes ago</em></span>-->
                                        <!--</a>-->
                                        <!--<a href="#" class="list-group-item">-->
                                            <!--Order#12<span class="pull-right text-muted small"><em>4 minutes ago</em></span>-->
                                        <!--</a>-->
                                        <!--<a href="#" class="list-group-item">-->
                                            <!--Order#12<span class="pull-right text-muted small"><em>4 minutes ago</em></span>-->
                                        <!--</a>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</li>-->
                        <!--</ul>-->
                    <!--</div>-->
                    <!--&lt;!&ndash;TABLE POPUP END==================================================================================&ndash;&gt;-->
                <!--</li><li class="table-empty ui-state-default"></li>-->

            <!--</ul>-->

            <!--<div id="clear"></div>-->
        <!--</div>-->

    </div>

    <div id="home-aside" class="col-md-12 col-sm-12 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="list-heading">Staff Settings</span>
                <div class="pull-right">
                    <div class="btn-group">
                        <button type="button" class="inner-btn" data-toggle="dropdown" aria-expanded="false">
                            Sort
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu pull-right" role="menu">
                            <li><a href="#">Action</a>
                            </li>
                            <li><a href="#">Another action</a>
                            </li>
                            <li><a href="#">Something else here</a>
                            </li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="list-group">
                    <span class="list-group-item"><label class="glyphicon glyphicon-phone"></label> Fname Lname</span>
                </div>
                <!-- /.list-group -->
                <a href="#" class="inner-btn">More</a>
            </div>
            <!-- /.panel-body -->
        </div>
    </div>

    <div class="col-md-6"></div>

    <div id="home-aside" class="col-md-6 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-check"></span><span class="list-heading"> - Delivered Orders</span>
                <div class="pull-right">
                    <div class="btn-group">
                        <button type="button" class="inner-btn" data-toggle="dropdown" aria-expanded="false">
                            Sort
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu pull-right" role="menu">
                            <li><a href="#">Action</a>
                            </li>
                            <li><a href="#">Another action</a>
                            </li>
                            <li><a href="#">Something else here</a>
                            </li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="list-group">
                    <a href="#" class="list-group-item">
                        <span class="glyphicon glyphicon-check"></span> Order#12
                        <span class="pull-right text-muted small"><em>4 minutes ago</em>
                        </span>
                    </a>
                    <a href="#" class="list-group-item">
                        <span class="glyphicon glyphicon-check"></span> Order#12
                        <span class="pull-right text-muted small"><em>12 minutes ago</em>
                        </span>
                    </a>
                    <a href="#" class="list-group-item">
                        <span class="glyphicon glyphicon-check"></span> Order#12
                        <span class="pull-right text-muted small"><em>27 minutes ago</em>
                        </span>
                    </a>
                    <a href="#" class="list-group-item">
                        <span class="glyphicon glyphicon-check"></span> Order#12
                        <span class="pull-right text-muted small"><em>43 minutes ago</em>
                        </span>
                    </a>
                    <a href="#" class="list-group-item">
                        <span class="glyphicon glyphicon-check"></span> Order#12
                        <span class="pull-right text-muted small"><em>11:32 AM</em>
                        </span>
                    </a>
                    <a href="#" class="list-group-item">
                        <span class="glyphicon glyphicon-check"></span> Order#12
                        <span class="pull-right text-muted small"><em>11:13 AM</em>
                        </span>
                    </a>
                    <a href="#" class="list-group-item">
                        <span class="glyphicon glyphicon-check"></span> Order#12
                        <span class="pull-right text-muted small"><em>10:57 AM</em>
                        </span>
                    </a>
                    <a href="#" class="list-group-item">
                        <span class="glyphicon glyphicon-check"></span> Order#12
                        <span class="pull-right text-muted small"><em>9:49 AM</em>
                        </span>
                    </a>
                    <a href="#" class="list-group-item">
                        <span class="glyphicon glyphicon-check"></span> Order#12
                        <span class="pull-right text-muted small"><em>Yesterday</em>
                        </span>
                    </a>
                </div>
                <!-- /.list-group -->
                <a href="#" class="inner-btn">More</a>
            </div>
            <!-- /.panel-body -->
        </div>
    </div>

</div>